*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.cadast-img{
    display: flex;
    justify-content: center;
}
#img1{
    width: 300px;
    height: 400px;

}
.formulario{
    border: solid black;
    background-color: #edededed;
    width: 550px;
}
.titulo{
    text-align: center;
    color: blueviolet;
}
input{
    margin: 10px;
}